/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  text-align: center;
  font-size: 62.5%;
  
}

img {
  display: block;
  margin: 5em auto;
  width: 80%;
  max-width: 80em;
  padding: 4em;
}

.img-border {
  border: black 1px solid;
}

h1 {
  font-size: 5em;
  font-style: italic;
  font-weight: 900;
  margin-top: 1.3em;
}

input, button {
  width: 40%;
  text-align: center;
  border: black 1px solid;
  padding: 1em;
  max-width: 26.6em;
  margin: 0 auto;
  font-size: 1.5em;
}

button {
  margin-top: 1em;
  font-weight: 900;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
